# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories (ห้ามเอาขึ้นเพราะมันหนักมาก)
node_modules/

# Build output (ห้ามเอาขึ้นเพราะมันคือไฟล์ที่เจนออกมา)
dist/
dist-ssr/
*.local

# Secret files (อันนี้สำคัญที่สุดที่คุณฟุ้ยต้องระวัง!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?